.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: black;
  /* font-weight: bold; */
}

.product-in-list-button {
  background: white;
  border: none;
  width: 30%;
}

.product-in-modal {
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  margin: 1%;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  margin: 5% 30%;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
}

.header-nav a {
  margin: 10%;
}

@media screen and (max-width:500px) {
  .product-in-list-button {
    width: 100%;
  }
  .product-in-list img {
    width: 100%;
  }

  .product-in-modal {
    width: 100%;
  }

  .product-in-modal img {
    width: 100%;
  }

  .product-in-cart {
    width: 100%;
  }

  .product-in-cart img {
    width: 100%;
  }

  .category-in-list {
    width: 100%;
  }
  .category-in-list h3 {
    width: 100%;
    font-size: 1.75rem;
  }
  .category-in-list a {
    width: 100%;
  }
}